@model AccountVM
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/Layouts/_AccountLayout.cshtml";
}

<!--NavBar-->
<div class="header container">
    <div class="headerleftside">
        <a href="#"><img src="~/images/owlicon - Copy.png" class="img-fluid"></a>
        <a href="#" class="underline" tabIndex="-1">Contacts</a>
        <a href="#" class="underline" tabIndex="-1">About us</a>
    </div>
    <div class="login-container">
        <div class="login-container-div">
            <form asp-controller="account" asp-action="login" method="post">
                <input asp-for="Login.UserName" type="text" placeholder="Username" class="loginInput">
                <input asp-for="Login.Password" type="password" placeholder="Password" class="loginInput">
                <button type="submit" class="loginBtn">Login</button>
                <br />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <label asp-for="Login.RememberMe">
                    <input asp-for="Login.RememberMe" type="checkbox" > Remember me
                </label>
                <input type="text" placeholder="Username" name="Username" class="loginInput-last">
                <a href="#" class="RecoveryBtn" tabIndex="-1">Forgot password?</a>
            </form>
        </div>
    </div>
</div>
<!--End NavBar-->


<div class="middle ">
    <div class="leftSection column">
        <section class="infoText">
        </section>
    </div>
    <div class="righSection column">
        <div class="Registration">
            <div class="form">
                <div class="tab-content">
                    <div id="signup">
                        <h1>Get Started</h1>
                        <form asp-action="login" asp-controller="account" method="post">
                            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                            <div class="field-wrap">
                                <input asp-for="Signup.UserName" type="text" required autocomplete="off" placeholder="Username" />
                                <span asp-validation-for="Signup.UserName" class="text-danger"></span>
                            </div>
                            <div class="field-wrap">
                                <input asp-for="Signup.Email" type="email" required autocomplete="off" placeholder="Email" />
                                <span asp-validation-for="Signup.Email" class="text-danger"></span>
                            </div>
                            <div class="field-wrap">
                                <input asp-for="Signup.Password" type="password" id="myInput1" required autocomplete="off" placeholder="Password" />
                                <span asp-validation-for="Signup.Password" class="text-danger"></span>
                                @*<input type="radio" onclick="myFunction()" class="show" name="radio">*@
                            </div>
                            <div class="field-wrap">
                                <input asp-for="Signup.ConfirmPassword" type="password" id="myInput2" required autocomplete="off" placeholder="Re-Enter Password" />
                                <span asp-validation-for="Signup.ConfirmPassword" class="text-danger"></span>
                                @*<input type="radio" onclick="myFunction()" class="show" name="radio">*@
                            </div>
                            <div class="bot-row">
                                <div class="field-wrap">
                                    <label>
                                        By clicking Sign Up, you agree to our <a href="#" tabIndex="-1">Terms</a>,
                                        <a href="#" tabIndex="-1">Data Policy</a> and <a href="#"
                                                                                         tabIndex="-1">
                                            Cookies
                                            Policy
                                        </a> .
                                        You may receive SMS Notifications from us and can opt out any time.
                                    </label>
                                </div>
                                <div class="field-wrap">
                                    <button type="submit" class="button button-block">Sign up</button>
                                </div>
                            </div>
                        </form>
                        <br />
                        <div class="Circlecontainer">
                            <div class="circle">
                            </div>
                        </div>
                        <div class="websites">
                            <a href="#" class="BottomA"><img src="~/images/facebooklogo.png" class="websiteicons"></a>
                            <a href="#" class="BottomA"><img src="~/images/googleiconcolored.png" class="websiteicons"></a>
                            <a href="#" class="BottomA"><img src="~/images/Linkediniconblue.png" class="websiteicons"></a>
                            <a href="#" class="BottomA"><img src="~/images/githubnew.png" class="websiteicons"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

