
@{
    ViewData["Title"] = "Catalog";
    Layout = "~/Views/Shared/Layouts/_CatalogLayout.cshtml";

}
    <div class="middle-row ">
        <h1>
            Projects
            <input type="button" value="Seach" class="searchbtn">
            <input type="search" class="search" placeholder="Search..">
        </h1><br>
        <div class="categories">
            <div class="categoryWidth">
                <input type="button" value="Front-End"><input type="button" value="Back-End"><input type="button"
                                                                                                    value="Database">
                <div class="categoryRow">
                    <input type="button" value="Web"><input type="button" value="Desktop"><input type="button"
                                                                                                 value="Mobile">
                </div>
            </div>
        </div>

        <div>
            <div class="top-row">
                <div class="row">
                    <a href="#">
                        <div class="middle-column">
                            <div class="inside-column">
                                <a href="#" class="border">
                                    <div class="cardBorder">
                                        <h3 class="tag">Project</h3>
                                    </div>
                                    <div class="descriptionPadding">
                                        <p class="Description">
                                            Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the 1500s
                                        </p>
                                    </div>

                                    <div class="cardFoot">
                                        <input type="button" value="Front-End">
                                        <input type="button" value="Back-End">
                                        <input type="button" value="Database">
                                        <input type="button" value="Web">
                                    </div>

                                </a>
                            </div>
                        </div>
                        <div class="middle-column">
                            <div class="inside-column">
                                <a href="#" class="border">
                                    <div class="cardBorder">
                                        <h3 class="tag">Project</h3>
                                    </div>
                                    <div class="descriptionPadding">
                                        <p class="Description">
                                            Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the 1500s
                                        </p>
                                    </div>

                                    <div class="cardFoot">
                                        <input type="button" value="Front-End">
                                        <input type="button" value="Back-End">
                                        <input type="button" value="Database">
                                        <input type="button" value="Web">
                                    </div>

                                </a>
                            </div>
                        </div>
                        <div class="middle-column">
                            <div class="inside-column">
                                <a href="#" class="border">
                                    <div class="cardBorder">
                                        <h3 class="tag">Project</h3>
                                    </div>
                                    <div class="descriptionPadding">
                                        <p class="Description">
                                            Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the 1500s
                                        </p>
                                    </div>

                                    <div class="cardFoot">
                                        <input type="button" value="Front-End">
                                        <input type="button" value="Back-End">
                                        <input type="button" value="Database">
                                        <input type="button" value="Web">
                                    </div>

                                </a>
                            </div>
                        </div>
                </div>
            </div>
            <div class="bottom-row">
                <div class="row">
                    <a href="#">
                        <div class="middle-column">
                            <div class="inside-column">
                                <a href="#" class="border">
                                    <div class="cardBorder">
                                        <h3 class="tag">Project</h3>
                                    </div>
                                    <div class="descriptionPadding">
                                        <p class="Description">
                                            Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the 1500s
                                        </p>
                                    </div>

                                    <div class="cardFoot">
                                        <input type="button" value="Front-End">
                                        <input type="button" value="Back-End">
                                        <input type="button" value="Database">
                                        <input type="button" value="Web">
                                    </div>

                                </a>
                            </div>
                        </div>
                        <div class="middle-column">
                            <div class="inside-column">
                                <a href="#" class="border">
                                    <div class="cardBorder">
                                        <h3 class="tag">Project</h3>
                                    </div>
                                    <div class="descriptionPadding">
                                        <p class="Description">
                                            Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the 1500s
                                        </p>
                                    </div>

                                    <div class="cardFoot">
                                        <input type="button" value="Front-End">
                                        <input type="button" value="Back-End">
                                        <input type="button" value="Database">
                                        <input type="button" value="Web">
                                    </div>

                                </a>
                            </div>
                        </div>
                        <div class="middle-column">
                            <div class="inside-column">
                                <a href="#" class="border">
                                    <div class="cardBorder">
                                        <h3 class="tag">Project</h3>
                                    </div>
                                    <div class="descriptionPadding">
                                        <p class="Description">
                                            Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry. Lorem
                                            Ipsum has been the industry's standard dummy text ever since the 1500s
                                        </p>
                                    </div>

                                    <div class="cardFoot">
                                        <input type="button" value="Front-End">
                                        <input type="button" value="Back-End">
                                        <input type="button" value="Database">
                                        <input type="button" value="Web">
                                    </div>

                                </a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="pagination-row">
            <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">&raquo;</a>
            </div>
        </div>
    </div>
